body {
margin: 0;
font-family: Arial, sans-serif;
background: #111;
color: white;
}


/* HERO SECTION */
.hero {
     position: relative;
    height: 77vh;
    background: #000 url('https://images.unsplash.com/photo-1585747860715-2ba37e788b70?w=1920&q=80') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-image 0.5s ease-in-out
}



.overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.5);
z-index: 1; 
}


.hero-content {
position: relative;
z-index: 2;
}


.hero h1 {
font-size: 22px;
letter-spacing: 4px;
color: #d8b65c;
margin: 0;
}


.hero h2 {
font-size: 60px;
font-weight: bold;
color: #d8b65c;
margin: 10px 0 20px;
}


.cta {
padding: 12px 30px;
border: none;
background: #d8b65c;
color: black;
font-size: 18px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}


.cta:hover {
background: #b39545;
}


/* APPOINTMENT SECTION */
.appointment {
background: #0c1a1a;
padding: 60px;
text-align: center;
}


.appointment h3 {
color: #d8b65c;
font-size: 26px;
margin-bottom: 15px;
}


.appointment p {
width: 60%;
margin: 0 auto;
line-height: 1.6;
color: #ddd;
}

/* NAVBAR CONTAINER */
.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);   
    position: fixed;               
    top: 0;
    left: 0;
    z-index: 10; 
}

/* MAKE THE LIST HORIZONTAL */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    margin: 0;
}

/* LINKS STYLE */
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;  
    transition: 0.3s ease;
}

/* GRAY-ish HOVER RECTANGLE */
.navbar ul li a:hover {
    background: rgba(200, 200, 200, 0.3); 
    backdrop-filter: blur(4px);           
}

@media (max-width:1000px){
      .header, .hero, .inventory, .two-col, .contact, footer{padding-left:6%;padding-right:6%}
      .hero{flex-direction:column;gap:20px;text-align:center}
      .hero .left, .hero .right{flex:unset;width:100%}
      .two-col{flex-direction:column}
      form{grid-template-columns:1fr}
      .btn-send{grid-column:1/2}
    }

    @media (max-width:600px){
      .hero h1{font-size:26px}
      .card img{height:150px}
    }

